<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.khushbooraheja.sharedelementtransitions_demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".LaunchActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".grid_to_activity.SourceGridActivity">
    </activity>
    <activity android:name=".grid_to_activity.DestinationActivity">
    </activity>
    <activity android:name=".viewpager_to_activity.SourceViewPagerActivity">
    </activity>
    <activity android:name=".grid__frag_to_activity.SourceGridFragmentActivity">
    </activity>
    <activity android:name=".method_b_for_grid_frag_to_activity.BaseActivity">
    </activity>
    <activity android:name=".method_b_for_grid_frag_to_activity.TargetActivity">
    </activity>
  </application>

</manifest>